<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>添加教师</h1>
    <form method="POST" action="/add_teacherclass/">
        <p>教师名称：<input type="text" name="name"/></p>
        <p>任课班级：
            <select name="classid" multiple="multiple">
                {% for row in class_list %}
                    <option value={{ row.id }}>{{ row.title }}</option>
                {% endfor %}
            </select>
        </p>
        <input type="submit" value="提交">
    </form>
</body>
</html>