<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/font-awesome-4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/common.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="pg-header">
        <div class="logo left">老屁眼后台管理</div>
        <div class="avatar right">
            <img style="width: 40px;height: 40px" src="/static/touxiang.jpg">
            <div class="user-info">
                <a>个人资料</a>
                <a>注销</a>
            </div>
        </div>
        <div class="rmenus right">
            <a class="fa fa-info-circle">消息</a>
            <a class="fa fa-envelope">邮件</a>
        </div>
    </div>

    <div class="pg-body">
        <div class="menus">
            <a class="fa fa-id-card-o">班级管理</a>
            <a class="fa fa-id-card-o">学生管理</a>
            <a class="fa fa-id-card-o">老师管理</a>
        </div>
            <div class="content">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
                {% block xx %} {% endblock %}
        </div>
    </div>
{% block js %}{% endblock %}
</body>
</html>