<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>教师列表</title>
</head>
<style>
    .hide{
        display: none;
    }
    .shadow{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: black;
        opacity: 0.4;
        z-index: 999;
    }
    .add-modal{
        position: fixed;
        left: 50%;
        top: 50%;
        background-color: white;
        width: 400px;
        height: 500px;
        margin-left: -200px;
        margin-top: -200px;
        z-index: 1000;
    }
</style>
<body>
    <h1>教师列表</h1>
    <div>
        <a href="/add_teacherclass/">添加</a>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>老师姓名</th>
                <th>任课班级</th>
            </tr>
        </thead>
        <tbody>
            {% for row in teachers_list %}
                <tr>
                    <td>{{ row.tid }}</td>
                    <td>{{ row.name }}</td>
                    <td>
                        {% for item in row.title %}
                            <span style="display: inline-block;padding: 5px;border: 1px solid red;">{{ item }}</span>
                        {% endfor %}
                    </td>
                    <td>
                        <a href="/edit_teacherclass/?nid={{ row.tid }}">编辑</a>
                        <a>删除</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>