body{
    margin: 0;
}
.left{
    float: left;
}
.right{
    float: right;
}
.pg-header {
    height: 48px;
    min-width: 1190px;
    background-color: #1b6d85;
    line-height: 48px;
}
.pg-header .logo{
    color: white;
    font-size: 18px;
    width: 200px;
    text-align: center;
    border-right: 1px solid blue;
}
.pg-header .rmenus a{
    display: inline-block;
    padding: 0 20px;
    color: white;
}
.pg-header .rmenus a:hover{
    background-color: yellowgreen;
}
.pg-header .avatar{
    padding: 0 20px;
}
.pg-header .avatar img{
    border-radius: 50%;
}
.pg-header .avatar .user-info{
    display: none;
    position: absolute;width: 200px;top: 48px;right: 2px;background-color: black;z-index: 100
}
.pg-header .avatar:hover .user-info{
    display: block;
}


.menus{
    width: 200px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 48px;
    border-right: 1px solid #dddddd;
    background-color: #b9def0;
}
.pg-body .menus a{
    display: block;
    padding: 10px 5px;
    border-bottom: 1px solid #dddddd;
}
.content{
    position: absolute;
    left: 200px;
    right: 0px;
    top: 48px;
    bottom: 0px;
    min-width: 990px;
    overflow: auto;
    z-index: 99;
}